.wrapper{

background-color: #f8f8f8

}

.login-button{
    float:left;
    color:#5cb85c
}

.submit-button{
    float:right
}

.ov{
    color: grey;

    font-size:1rem
}

.up{
    font-size:1.2rem;
    font-weight: 500;

}

.header{
    background-color: #f8f8f8
}

.jumbotron{
    background-image: url("https://www.vancouvertrails.com/images/hikes/panorama-ridge.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}