li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 50px;
}

p {
    text-align:center;
}

p span {
    vertical-align: -webkit-baseline-middle;
}

.room {
    background-color: white;
    border-radius: 15px;
    border: black 1px solid;
    width: 100%;
}

.room button {
    float: right;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: #538dca;
    vertical-align: baseline;
}

.roomList {
    list-style-type: none;
    display: inline;
}